@font-face {
    font-family: 'KoPubBatangLight';
    src: url('../fonts/KoPubBatangLight.ttf') format('truetype');
}

@font-face {
    font-family: 'NanumPen';
    src: url('../fonts/NanumPen.ttf') format('truetype');
}
@font-face {
    font-family: 'NanumSquareB';
    src: url('../fonts/NanumSquareB.ttf') format('truetype');
}
@font-face {
    font-family: 'NanumSquareR';
    src: url('../fonts/NanumSquareR.ttf') format('truetype');
}
.topmenu-set li a{
    color: #ffffff !important;
}

body{
    font-family: 'NanumSquareR', sans-serif !important;
}
.detail-table-title1{
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'NanumSquare', sans-serif !important;
    font-weight: 500;
    color: #3C3D3F;
}
.detail-table-sub1{
    text-align: right;
    font-size: 15px;
    color: #707070;
}
/* 재가급여월 한도액 테이블셋팅 */
.detail-set1{
    text-align: center;
    font-family: 'NanumSquare', sans-serif !important;
    font-weight: 400;
    font-size: 18px;
    border: 1px solid #76B042 !important;

}
.detail-set1 th{
    text-align: center;
    font-family: 'NanumSquare', sans-serif !important;
    font-weight: 400;
    height: 80px;
    vertical-align: inherit !important;
    background-color: #76B042;
    color: #FFFFFF;
    
}

.detail-set1 tr td:nth-child(1){
    color: #76B042;
}

.detail-bottom-set1{
    margin-bottom: 100px;
}
.table-bordered>tbody>tr>td{
    border: 1px solid #76B042;
}

/* 테이블 좌측, 우측 하단 실선 셋팅 */
.table-bordered{
    border-right: hidden!important;
    border-left: hidden !important;
    border-bottom: 2px solid #76B042 !important;
}

/* Row셋팅 */
.table tr {
    text-align: center !important;
    height: 70px;
}
.table > tbody > tr > td {
    vertical-align: middle;
}

/* 소개글 CSS */
.main-title-p{
    padding: 40px;
}
.main-title-p p{
    font-size: 30px;
    font-weight: 900;
    color: #76B042;
    text-align: center !important;
}
.dtl-contents-box div{
    margin-bottom: 6px;
}
.dtl-contents-box{
    font-size: 20px;
    text-align: center !important;
}

.contents1{
    margin-bottom: 30px;
}



