.navbar-brand img{
    width: 250px;
}

.da-slide-font1{
	font-size: 80px;
}
.da-slide-font-common{
    font-style: normal;
}

#slide-img1{
    margin-top: 80px;
    width: 434px;
    height: 426px;
}

#slide-img2{
    margin-top: 150px;
    width: 580px;
    height: 330px;
}

#slide-img3{
    margin-top: 180px;
    width: 600px;
    height: 280px;
}
/* Seconds info container */
.property-title{
    font-size: 18px;
    color: #666666;
}
.property-title-box{
    margin-bottom: 8px;
}
.property-dec{
    margin-left: 30px;
    margin-bottom: 20px;
    color: #666666;
}

#contact-h1{
    font-size: 30px;
    font-weight: 900;
    color: #666666;
    /* padding-left: 140px; */
    padding-top: 20px;
    padding-bottom: 5px;
    text-align: center;
}

.contact-box{
    border: 1px solid #6eb12c;
    min-height: 276.56px;
    height: 350px;
    /* padding-left: 80px; */
}



.col-lg-6 h3{
    font-size: 17px;
    margin-top: 30px;
}

.col-lg-6 h3 a{
    font-size: 30px;
}

.contact-num{
    /* padding-left: 60px; */
    text-align: center;
}

.contact-num a{
    color: #6eb12c;
    font-weight: 900;
    font-size: 50px !important;
}
.email-txt2{
    color: #6eb12c;
    font-weight: 900;
    font-size: 23px !important;
    
}
.contact-email-h3{
    text-align: center;
}

.feature-box-b{
    /* color: #797979; */
    color: #6eb12c;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 20px;
}

.feature-box-p{
    color: #797979;
    font-size: 20px;
}

.nav-tabs-custom-a{
    background-color: #6eb12c;
    font-size: 20px;
    font-weight: 800;
    color: #666666;
}
.panel-body-custom{
    border: 0px;
}
.help-icon1{
    background: #76b042;
}
.help-more-box{
    padding-bottom: 20px;
}
.help-icon-area1{
    margin-left: 5px;
}
.help-icon-area2{
    /* margin-left: 10px; */
}
.help-icon-area3{
    margin-right: 3px;
}
.help-subtitle{
    color: #6eb12c;
}

.news-more-btn{
    text-align: right;
}

/* 제휴사 Custom */
.custom-hr{
    background-color: #76b042;
    margin-bottom: 15px;
}
.partner-title{
    text-align: center;
}
.partner-btn{
    text-align:center !important ;
}

/* footer셋팅 */
.footer-fonts{
    font-weight: 500;
}

.footer-set1{
    margin-bottom: 20px !important;
}
.footer-set2{
    margin-bottom: 5px !important;
}

.copyright-detail-fonts{
    font-size: 25px;
    margin-left: 30px;
    padding-top: 17px;
    font-weight: 700;
}
.footer-btn-detail{
    background-color: #f37020 !important;
    color: #FFFFFF !important;
    margin-left: auto;
    border-radius: 30px;
    padding: 10px 33px;
}

@media (max-width:1200px){
    #contact-box{
        text-align: center;
    }
    .col-lg-6 h3 a{
        font-size: 20px;
    }
    .col-lg-6 h3 a{
        font-size: 30px;
    }
}


@media (max-width: 768px) {
    #contact-box{
        /* padding-left: 90px !important; */
    }
    .col-lg-6 h3 a{
        font-size: 25px;
    }
    .contact-num{
        /* padding-left: 40px; */
    }

    .news-box{
        height: 500px;
    }

    
    
}

@media(max-width:480px){
    .news-box{
        height: 600px;
    }
    .col-lg-6 h3 a{
        font-size: 21px !important;
    }
}

@media(max-width:360px){
    .news-box{
        height: 670px;
    }
    .col-lg-6 h3 a{
        font-size: 15px !important;
    }
}

@media(max-width:280px){
    .news-box{
        height: 750px;
    }
    .col-lg-6 h3 a{
        font-size: 15px !important;
    }
}

