<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"> <!--해당파일 레이아웃으로 선언-->

<head>
    <meta charset="utf-8">
    <meta name="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Subject" content="안산 드림요양보호사교육원/재가센터(방문목욕,방문요양)" />
    <meta name="author" content="최영준">
    <meta name="keywords" content="안산, 안산 요양보호사교육원, 드림요양보호사교육원, 재가센터, 방문목욕, 방문요양, 국비지원, 국비지원 자격증, 요양보호사취업">
    <meta name="description" content="우피는 노션 페이지를 최적화된 웹사이트로 바꿔드립니다. 원하는 주소를 연결하여 나만의 홈페이지를 시작해 보세요.">
    <meta property="og:url" content="https://www.dreameducare.co.kr">
    <meta property="og:type" content="website">
    <meta property="og:title" content="드림요양보호교육원 / 재가센터(방문요양, 방문목욕)">
    <meta property="og:description" content="안산 국비지원 국가자격증취득, 방문요양서비스 방문목욕서비스까지 한번에.">
    <meta property="og:image" content="http://www.dreameducare.co.kr/image/meta">

    <link rel="shortcut icon" href="img/favicon.ico">

    <title>
        드림요양보호사교육원 | Home
    </title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/theme.css" rel="stylesheet">
    <link href="css/bootstrap-reset.css" rel="stylesheet">

    <script src="js/jquery.js"></script>
    <script src="js/jquery-3.6.0.min.js"></script>

    <!--    Externel CSS-->
    <link rel="stylesheet" type="text/css" href="css/layout.css" />
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
    <script type="text/javascript">
        if(!wcs_add) var wcs_add = {};
        wcs_add["wa"] = "ff25d7565f2f08";
        if(window.wcs) {
          wcs_do();
        }
    </script>



</head>

<body>
<th:block th:replace="layout/fragments/HeadTest :: HeadFragment" ></th:block>
<th:block layout:fragment="content"></th:block>
<th:block th:replace="layout/fragments/FooterTest :: FooterFragment" ></th:block>
</body>


</html>