
body{
    font-family: 'NanumSquareR' !important;
}





.da-slide-font1{
	font-size: 85px;
}
.da-slide-font-common{
    font-style: normal;
    font-family: 'NanumSquareR' !important;
}

#slide-img1{
    margin-top: 80px;
    width: 434px;
    height: 426px;
}

#slide-img2{
    margin-top: 150px;
    width: 580px;
    height: 330px;
}

#slide-img3{
    margin-top: 180px;
    width: 600px;
    height: 280px;
}
/* Seconds info container */
.property-main-title h1{
    font-weight: 900 !important;
}
.property-title{
    font-size: 18px;
    color: #666666;
}
.property-title-box{
    font-size: 17px;
    margin-bottom: 8px;
}
.property-dec{
    font-size: 14px;
    margin-left: 30px;
    margin-bottom: 20px;
    color: #666666;
}
.chiness-fonts{
    font-family: Arial, Helvetica, sans-serif!important;
}
   

.property-btn{
    font-size: 14px !important;
    width: 131px !important;
    height: 42px !important;
}

#contact-h1{
    font-size: 25px;
    font-weight: 900;
    color: #666666;
    /* padding-left: 140px; */
    /* padding-top: 20px;
    padding-bottom: 5px; */
    margin-top: 8px;
    margin-bottom: 51px;
    text-align: center;
}

.contact-box{
    border: 1px solid #6eb12c;
    min-height: 276.56px;
    height: 350px;
    /* padding-left: 80px; */
}

.contact-num{
    font-size: 14px;
    text-align: center;
    /* margin-top: 30px; */
}

.contact-num a{
    color: #6eb12c;
    font-weight: 900;
    font-size: 50px !important;
}
.email-txt2{
    color: #6eb12c;
    font-weight: 900;
    font-size: 25px !important;
    
}
.contact-email-h3{
    font-size: 14px;
    text-align: center;
}

.feature-box-b{
    font-family: 'NanumSquareR' !important;
    /* color: #797979; */
    color: #6eb12c;
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 20px;
}

.feature-box-p{
    color: #797979;
    font-size: 17px;
}

.nav-tabs-custom-a{
    background-color: #6eb12c;
    font-size: 21px;
    font-weight: 800;
    color: #666666;
}
.tasi-tab{
    padding-left: 18px;
    padding-top: 18px;
    padding-right: 20px;
}
.media{
    margin-top: 3px;
}

.da-link-set{
    font-size: 14px !important;
    background-color: #76b042 !important;
}

.recent p{
    font-size: 17px;
}


.panel-body-custom{
    border: 0px;
}
.help-icon1{
    background: #76b042;
}
.help-more-box{
    padding-bottom: 20px;
}
.help-icon-area1{
    margin-left: 5px;
}
.help-icon-area2{
    /* margin-left: 10px; */
}
.help-icon-area3{
    margin-right: 3px;
}
.help-subtitle{
    font-size: 17px;
    color: #6eb12c;
}
.help-subtitle{
    font-size: 17px;
}

.news-more-btn{
    text-align: right;
}

/* 제휴사 Custom */
.custom-hr{
    background-color: #76b042;
    margin-bottom: 15px;
}
.partner-title{
    text-align: center;
}
.partner-title h2{
    font-size: 25px;
}


.partner-btn{
    text-align:center !important ;
}

.view-tenth img{
    width: 100% !important;
    height: 100% !important;
    width: 250px !important;
    height: 200px !important;
}


.academy-intro p{
    font-size: 21px;
    padding: 2px;
}

.academy-intro p span{
    color: #76b042;
}

@media (max-width:1200px){
    #contact-box{
        text-align: center;
    }
    .col-lg-6 h3 a{
        font-size: 20px;
    }
    .col-lg-6 h3 a{
        font-size: 30px;
    }
    .popup-wide{
        display: none;
    }
    .popup-small{
        display: block;
    }
    .copyright-detail-fonts{
        font-size: 30px !important;
        padding-top: 17px;
        font-weight: 700;
        margin-left: 9%;
    }
    .popup-small{
        min-height: 170px;
    }
    .small-popup-btn{
        margin-top: 10px;
        margin-right: 60px;
    }
    .small-popup-close{
        margin-right: 40px;
    }
    .footer-img-set1{
        text-align: center;
        margin-bottom: 50px;
    }
    .footer{
        display: none;
    }
    .footer2{
        display: block;
    }
    .address p {
        text-align: center !important;
    }
}


@media (max-width: 768px) {
    .col-lg-6 h3 a{
        font-size: 25px;
    }

    .news-box{
        height: 500px;
    }
    .footer-img-set2{
        width: 262.5px;
        height: 52.5px;
        margin-top: 50px;
    }
    .popup-small{
        display: none;
    }
    .popup-small2{
        display: block;
    }
    .top-banner-box div{
        font-size: 30px !important;
    }
    .small-popup-btn{
        /* margin-right: 139px; */
    }
    .small-popup-close2{
        position: absolute;
        right: 60px;
        top: 10px;
    }
    .top-banner-box{
        justify-content: center;
    }
    
}

@media(max-width:480px){
    .news-box{
        height: 600px;
    }
    .col-lg-6 h3 a{
        font-size: 21px !important;
    }
    .popup-wide{
        display: block;
    }
    .popup-small2{
        display: none;
    }
    .copyright-detail-fonts{
        display: none;
    }
    .top-popup-btn {
        margin-left: auto;
    }
    .header-popup{
        min-height: 30px;
    }
    .copyright{
        padding-top: 0;
    }
    .popup-close{
        margin-top: 10px;
        top: 0;
    }
    .top-banner-box{
        align-items: initial;
    }
    .view-tenth img{
        width: 400px !important;
    }
    
}

@media(max-width:360px){
    .news-box{
        height: 670px;
    }
    .col-lg-6 h3 a{
        font-size: 15px !important;
    }
    
}

@media(max-width:280px){
    .news-box{
        height: 750px;
    }
    .col-lg-6 h3 a{
        font-size: 15px !important;
    }
}

