@font-face {
    font-family: 'KoPubBatangLight';
    src: url('../fonts/KoPubBatangLight.ttf') format('truetype');
}

@font-face {
    font-family: 'NanumPen';
    src: url('../fonts/NanumPen.ttf') format('truetype');
}
@font-face {
    font-family: 'NanumSquareB';
    src: url('../fonts/NanumSquareB.ttf') format('truetype');
}
@font-face {
    font-family: 'NanumSquareR';
    src: url('../fonts/NanumSquareR.ttf') format('truetype');
}
.breadcrumbs{
    margin-bottom: 0px;
}
.topmenu-set li a{
    color: #ffffff !important;
}

body{
    font-family: 'NanumSquareR';
}

.intro-main-box{
    margin-bottom: 100px;
}

.main-title-p p{
    /* padding: 20px; */
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: #76b042 ;
}
/* Contents1 */
.contents1{
    /* margin-top: 80px; */
}
.dtl-contents1-box2{
    margin-top: 40px;
    text-align: center;
}
.contents1-frame1{
    /* padding-left: 80px; */
    text-align: right;
}
.contents1-frame2{
    /* padding-left: 35px; */
    /* text-align: left; */
}
.contents1-frame3{
    text-align: left;
}
.dtl-contents1-box2 div span:nth-child(2){
    color: #76b042 ;
    font-size: 14px;

}
.dtl-contents1-box1 p{
    margin-top: 40px;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    color: #76b042 ;
}

.oval-txt-frame{
    border: 2px solid #76b042;
    border-radius: 20.5px;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    color: #76b042 ;
}

/* Contents2 */
.contents2{
    position: relative !important;
    margin-top: 40px;
}
.contents2 img{
    width: 100%;
    height: 100%;
}

.img-wrap{
    position: relative !important;
}
.img-txt-box{
    top: 70px;
    left: 50px;
    position: absolute !important;
    font-size: 50px;
    color: #ffffff;
}
.img-txt-box2{
    top: 100px;
    right: 50px;
    position: absolute !important;
    font-size: 20px;
    color: #ffffff;
}
.common-contents-box{
    /* margin-top: 60px;
    margin-bottom: 30px; */
}

.common-title p{
    margin-top: 80px;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    color: #76b042 ;
}
.common-title2 p{
    margin-top: 40px;
    text-align: center;
    font-size: 17px;
    font-weight: 900;
    color: #666666 ;
}
.common-desc{
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #666666 ;
}
.desc-title-distance{
    /* margin-top: 40px; */
}

/* 신청절차 */
/* 온라인상담 정보표시 */
.process-box-main{
    margin-top: 40px;
}
.process-box{
    border: 1px solid #76B042 ;
    min-height: 150px;
    border-radius: 5px;
    min-width: 200px;
    height: 180px;
}
.process-box-title{
    background-color: #76B042;
    color:  #ffffff;
    text-align: center;
    border-radius: 18px;
    font-size: 15px;
}
.process-contents-box{
    text-align: -webkit-center;
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
}
.process-next{
    padding-top: 60px;
    vertical-align: middle;
    text-align: center;
    width: 3%;
    color: #76B042;
    font-size: 20px;
    font-weight: 900; 
    padding-left: 13px;
}
.process-box-desc{
    font-weight: 300;
    padding-top: 15px;
    font-size: 14px;
    color: #76B042;

}
.desc4 div:nth-child(1){
    padding-top: 20px;
    padding-bottom: 5px;
}
.caution-desc{
    margin-bottom: 80px;
}
.response-font2{
    display: none;
}


@media (max-width:1200px){
    .process-box{
        min-width: 200px;
        max-width: 500px;
        text-align: center;
    }
    .process-box-main{
        text-align: -webkit-center;
    }
    .process-next{
        padding-top: 0px;
    }
    .response-font{
        display: none;
    }
    .response-font2{
        display: block;
    }
    .contents1-frame1{
        text-align: center;
    }
    .contents1-frame2{
        text-align: center;
        padding-top: 20px;
    }
    .contents1-frame3{
        text-align: center;
        padding-top: 20px;
    }
}

@media (max-width: 992px) {
    .contents2{
        display: none;
    }
    
}


@media (max-width: 768px) {
    
    
}

@media(max-width:480px){
}

@media(max-width:360px){
}

@media(max-width:280px){
}

