
.topmenu-set li a{
    color: #ffffff !important;
}
/* 소개글 CSS */
.counsulting-p-set1{
    font-size: 25px;
    padding: 3px;
    text-align: center;
    color: #76B042;
}
.main-box{
    border: 1px solid #666666 ;
    height: 30px;
    border-radius: 5px;
    height: 520px;
}
.main-box2{
    border-radius: 5px;
    height: 520px;
}

.main-txt{
    background-color: #76B042;
    color:  #ffffff;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
    font-size: 25px;
    padding: 10px;

}
.main-box-set{
    padding: 33px;
}

/* 상담등록 폼 */
.consult-form{
    background-color: #f8f8f8
}
.btn-consult{
    width: 100% !important;
    border-radius: 5px !important;
}
.consult-table-box1{
    padding: 10px;
}
.consult-table-set1{
    width: 100%;
    height: 100%;
}
.consult-table-set1 tr td input{
    border: 0.5px solid #666666;
    background-color: #ffffff;
    padding: 6px;
    padding: 10px;
    width: 100% !important;
}
.consult-table-set1 tr td textarea{
    border: 0.5px solid #666666;
    background-color: #ffffff;
    padding: 6px;
    padding: 10px;
    width: 100% !important;
    min-height: 215px;
}

.consult-table-set1 tr td:nth-child(1){
    color: #333333;
    width: 14%;
    text-align: center !important;
}

.desc-textarea{
    padding-top: 15px !important;
    vertical-align: text-top;
}

.consult-table-set1 tr td{
    padding: 10px;
}

/* 온라인상담 정보표시 */
.consult-info-box-dtl{
    border: 1px solid #76B042 ;
    min-height: 185px;
    border-radius: 5px;
    min-width: 340px;
    margin: 15px;
    max-height: 182px;
}
.consult-info-box-title{
    background-color: #76B042;
    color:  #ffffff;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 18px;
    font-size: 18px;
    width: 80%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.consult-contents-box{
    text-align: -webkit-center;
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
}
/* 영업시간 테이블 셋팅 */
.consult-info-box-table table{
    color: #76B042;
}
.consult-info-box-table table tr td{
    padding: 5px;
}
.consult-info-box-table table tr td:nth-child(1){
    font-weight: 200 ;
}
/* 연락처 셋팅 */
.consult-contents-box p{
    text-align: left;
    color: #76B042;
}

.info-number-box{
    padding-left: 20px;
    margin-top: 15px;
    width: 80%;
}

.info-address-box{
    padding-left: 18px;
    margin-top: 15px;
    width: 90%;
}

.end-set{
    margin-bottom: 80px;
}

.breadcrumbs{
    margin-bottom: 80px;
}

.main-txt a{
    color : #ffffff !important;
}

.privacy-agree td:nth-child(2) label{
    font-weight: 900;
    font-size: 17px;
}

.privacy-agree td:nth-child(2) label input{
    width: auto !important;
}

.privacy-agree td:nth-child(2) div:nth-child(2){
    font-size: 11px;
    font-weight: 900;
    padding-left: 19px;
}
.checkbox{
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.modal-custom{
    display: none;
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 0px 76px 4px 0px rgba(173, 171, 172, 1);
    /* 임시 지정 */
    width: 650px;
    height: 180px;
}
.modal-custom > div:nth-child(1){
    display: flex;
    height: 50px;
    background-color: #cccccc;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 30px;
    padding-top: 15px;
    padding-right: 25px;
    font-size: 17px;
}
.modal-custom > div:nth-child(2){
    background-color: #f8f8f8;
    padding: 15px;
    font-size: 14px;
    padding-left: 30px;
}

.privacy-ps{
    padding-top: 10px;
}



@media (max-width:1200px){
   .info-number-box{
    display: table-cell;
   }
   .info-address-box{
    display: table-cell;
   }
}

@media (max-width:600px){
    .consult-info-box-dtl{
        min-width: auto;
        min-height: auto;
    }
    .consult-info-box-table{
        font-size: 14px;
    }
    .info-number-box{
        font-size: 14px;
    }
    .info-address-box{
        font-size: 14px;
    }
    .main-box{
        height: 470px;
    }
    .main-box2{
        height: 300px;
    }
    .consult-table-set1 tr td textarea {
        min-height: 150px;
    }
 }

 @media (max-width:565px){

    .consult-table-set1 tr td textarea {
        min-height: 130px;
    }
 }

 @media (max-width:400px){

    .consult-table-set1 tr td textarea {
        min-height: 120px;
    }
 }

 @media (max-width:314px){
    .main-box{
        height: 540px;
    }
 }