@font-face {
    font-family: 'KoPubBatangLight';
    src: url('../fonts/KoPubBatangLight.ttf') format('truetype');
}

@font-face {
    font-family: 'NanumPen';
    src: url('../fonts/NanumPen.ttf') format('truetype');
}

.topmenu-set li a{
    color: #ffffff !important;
}
body{
    font-family: 'NanumSquare', sans-serif !important;
}

.intro-main-box{
    margin-bottom: 100px;
}

.welcome-p p{
    padding: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    color: #76b042 ;
}

.welcome-sub-p p{
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 21px;
    font-weight: 400;
    color: #76b042 ;
}
/* #f2f2f2 */
.ceo-img-set img{
    box-shadow: 0px 0px 15px 10px #f2f2f2 ;
    padding: 15px;
    margin-top: 30px;
    /* min-width: 400px;
    min-height: 500px; */
    width: 110% ;
    height: 110% ;
}

.intro-p{
    padding-left: 70px;
    font-size: 14px;
    font-family: 'KoPubBatangLight';
    margin-top: 30px;
}

.intro-p p{
    margin-top: 30px;
}
.sign{
    text-align: right;
    padding-right: 150px;
    font-size: 32px;
    font-family: 'NanumPen';
}
.sign-sub{
    font-size: 20px;
}