<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">
    <!--external css-->
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/Online-Counsulting.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet" />

    <link rel="stylesheet" href="css/waitMe.css">
    <script src="js/waitMe.js"></script>
    <script type="text/javascript" src="js/OnlineConsulting.js"></script>


    <!--breadcrumbs start-->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-4">
                    <h1>
                        온라인 상담
                    </h1>
                </div>
                <div class="col-lg-8 col-sm-8">
                    <ol class="breadcrumb pull-right topmenu-set">
                        <li>
                            <a href="#">
                                온라인상담
                            </a>
                        </li>

                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs end-->


    <!--온라인상담 -title-start-->
    <div class="container">
        <p class="counsulting-p-set1">온라인 상담신청을 남겨주세요.</p>
        <p class="counsulting-p-set1">확인 후 담당자가 연락드리도록하겠습니다.</p>
    </div>
    <!--온라인상담 -title-end-->


    <!--온라인상담 Main-->
    <div class="container">
        <div class="col-lg-6 main-box-set">
            <div class="row">
                <div class="main-txt">
                    온라인 상담 신청하기
                </div>
                <div class="main-box consult-form">
                    <div class="consult-table-box1">
                        <table class="consult-table-set1">
                            <tr>
                                <td>이&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp름</td>
                                <td><input id="userNm" placeholder="" type="text"></td>
                            </tr>
                            <tr>
                                <td>연&nbsp&nbsp락&nbsp&nbsp처</td>
                                <td><input id="userHp" placeholder="" type="text"></td>
                            </tr>
                            <tr>
                                <td class="desc-textarea">상담내용</td>
                                <td><textarea id="userDesc"placeholder="" type="text"></textarea></td>
                            </tr>
                            <tr class="privacy-agree">
                                <td></td>
                                <td>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="agree-btn">
                                            개인정보수집 동의
                                        </label>
                                        <a href="javascript:void(0);" onclick="privacy_popup_open();">[전문보기]</a>
                                    </div>
                                    <div>※ 개인정보 제공자가 입력한 정보는 상담 외의 다른 목적으로 활용되지않습니다.</div>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <a class="btn btn-purchase btn-consult" onclick="emailSend();">전송하기</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 main-box-set">
            <div class="row">
                <div class="main-txt">
                    <a target="_blank" href="https://map.naver.com/v5/search/%EC%95%88%EC%82%B0%20%EB%93%9C%EB%A6%BC%EC%9A%94%EC%96%91%EB%B3%B4%ED%98%B8%EC%82%AC/place/38500791?c=16.3,0,0,0,dh">
                        드림요양보호사교육원 오시는 길
                    </a>
                </div>
                <div class="main-box2">
                    <a target="_blank" href="https://map.naver.com/v5/search/%EC%95%88%EC%82%B0%20%EB%93%9C%EB%A6%BC%EC%9A%94%EC%96%91%EB%B3%B4%ED%98%B8%EC%82%AC/place/38500791?c=16.3,0,0,0,dh">
                        <img src="img/consult-map-img.png" alt="드림요양보호사교육원네이버" width="100%" height="100%">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--온라인상담 Main-end-->

    <!--온라인상담 하단 정보표시-->
    <div class="container end-set">
        <div class="col-lg-12 consult-info-box1">
            <div class="col-lg-3 consult-info-box-dtl">
                <div class="row consult-contents-box">
                    <div class="consult-info-box-title">
                        영업시간
                    </div>
                    <div class="consult-info-box-table">
                        <table>
                            <tr>
                                <td>월 ~ 금</td>
                                <td>AM 08:00 ~ PM 17:00</td>
                            </tr>
                            <tr>
                                <td>토요일</td>
                                <td>AM 09:00 ~ PM 13:00</td>
                            </tr>
                            <tr>
                                <td>일요일</td>
                                <td>Closed</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 consult-info-box-dtl">
                <div class="row consult-contents-box">
                    <div class="consult-info-box-title">
                        연락처
                    </div>
                    <div class="info-number-box">
                        <p>+82 010ㆍ2466ㆍ9271</p>
                        <p>+82 031ㆍ505ㆍ0191</p>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 consult-info-box-dtl">
                <div class="row consult-contents-box">
                    <div class="consult-info-box-title">
                        주소
                    </div>
                    <div class="info-address-box">
                        <p>경기도 안산시 단원구 고잔로 102</p>
                        <p>(고잔동 539-1) 6층</p>
                        <p>드림요양보호사교육원</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--온라인상담 하단 정보표시-end-->

    <!-- 개인정보 수집 모달 -->
    <div class="modal-custom" id="privacy-dtl">
        <div>
            <p>개인정보 수집ㆍ이용 동의서 전문</p>
            <a href="javascript:void(0);" onclick="privacy_popup_close();">
                <img src="img/modal-close.png" alt="닫기">
            </a>
        </div>
        <div>
            <div>
                <p>▶ 목적 : 드림요양보호사교육원 상담 신청에 따른 개인정보 수집</p>
                <p>▶ 개인정보 수집 항목: 이름, 연락처</p>
                <p>▶ 보유 및 이용기간 : 상담신청 일로 부터 3개월</p>
                <p>▶ 개인정보 수집ㆍ이용에 동의를 거부할 권리가 있으며, 동의 거부시 온라인상담 신청이 불가합니다.</p>
                <p class="privacy-ps">※ 개인정보 제공자가 입력한 정보는 상담 외의 다른 목적으로 활용되지 않습니다.</p>
            </div>
        </div>
    </div>
    <script src="js/jquery-3.6.0.min.js"></script>
    <script>
      function privacy_popup_close(){
        $('.modal-custom').css('display','none')

        }
        function privacy_popup_open(){
        $('.modal-custom').css('display','block')

        }
    </script>
</th:block>
</html>